<h1>My tasks</h1>


<div class="tasks-container">
  <% @tasks.each do |task| %>
    <!-- Checkbox should be checked if task.completed is true -->
    <% if task.completed %>
      <%= check_box_tag task.title, task.title, true %>
    <% else %>
    <input type="checkbox" name="<%= task.title %>">
    <% end %>
    <%= link_to task.title, task_path(task) %>
    <%= link_to "DELETE", task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %><br>
  <% end %>
</div>

<%= link_to "Create new task", new_task_path %><br>
